:root {
  --page-width: 1080px;
  --theme: #7abcac;
  --acc1: #d8da79;
  --acc2: #c29486;
}

.d-block {
  display: block;
  margin: 10px 0;
}

.t-center {
  text-align: center;
}

.pill {
  width: fit-content;
  padding: 0.2em 0.7em;
  margin: 2em 0;
  border-radius: 20px;
  background-color: var(--theme);
  font-weight: bold;
}

.pill--acc1 {
  background-color: var(--acc1);
}

.pill--acc2 {
  background-color: var(--acc2);
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

body {
  background-color: #f4f4f4f4;
}

.App {
  background-color: white;
  border: 1px solid #dcdcdc;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  max-width: var(--page-width);
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template:
    'header header header' auto
    'links about about' auto
    'education skills technical' auto
    'experience experience experience' auto
    'contact contact contact' auto
    / 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

/* .App > * {
  border: 1px solid red;
} */
.App-header {
  grid-area: header;
  text-align: center;
}
.App-links {
  grid-area: links;
}

.App-links > ul > li {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.socIcon {
  height: 30px;
  width: 30px;
  margin: 5px 10px;
}

.App-about {
  grid-area: about;
}

.App-education {
  grid-area: education;
}
.App-skills {
  grid-area: skills;
}
.App-technical {
  grid-area: technical;
}
.App-experience {
  grid-area: experience;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 20px; */
}

.App-experience div {
  padding: 20px;
}

.App-experience div:nth-of-type(2) {
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
}

.xp-position {
  grid-column: span 1;
  grid-row: 2 / span 1;
}

.xp-title {
  grid-column: 1 / span 3;
}

.App-contact {
  grid-area: contact;
}

.underline {
  border-bottom: 4px solid #dcdcdc;
}

.underline--short {
  width: 70%;
  min-width: 50px;
}

h1 {
  font-size: 48px;
}

h2 {
  padding: 0 0 0.5em 0;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
}

h2::after {
  content: '';
  left: 0;
  bottom: -7px;
  position: absolute;
  width: 72px;
  height: 10px;
  background: #7abcac;
}

.rectangle1 {
  margin: -30px auto 30px auto;
  border: 4px solid #000000;
  width: 586px;
  height: 189px;
  box-sizing: border-box;
}

.rectangle3 {
  margin: auto;
  color: white;
  background-color: #000000;
  width: 248px;
  height: 28px;
}

.rectangle4 {
  max-width: var(--page-width);
  width: 100%;
  height: 61px;
  background: #7abcac;
}
